<!DOCTYPE html>
<html>
	<head ng-app='portal'>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Support Portal</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/web.css" rel="stylesheet">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="span3">
					<div class="circular"></div>
				</div>
				<div class="span9">
					<div class="page-header">
						<h1>Support Portal</h2>
						<p>A simple documentation site for application support.</p>
					</div>
					<input class='search_box' placeholder='Search...' ng-model='filter_keyword'>
				</div>
			</div>
		    <div class="row">
			    <div class="span3" ng-controlelr='navigation_controller'>
					<div class="well sidebar-nav">
					    <ul class="nav nav-list">
					    	<% sorted_content = content.keys.sort %>
							<% 0.upto((content.keys.length) -1) { |i| %>
								<li><a href="#tabs-<%= i %>"><%= sorted_content[i] %></a></li>
							<% } %>
					    </ul>
					</div>
				</div>
				<div class="span9">
					<div class="well well-large">
						<% 0.upto((content.keys.length) -1) { |i| %>
							<div id="tabs-<%= i %>"><%= content[sorted_content[i]] %></div>
						<% } %>
						<div ng-view></div>
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
