<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Markdown</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/0.7.4/angular-strap.min.js"></script>
		<script src="js/bootstrap.min.js"></script>

		<script type="text/javascript">
			$(function(){

				// Tabs
				$('#tabs').tabs();

				//hover states on the static widgets
				$('#dialog_link, ul#icons li').hover(
					function() { $(this).addClass('ui-state-hover'); }, 
					function() { $(this).removeClass('ui-state-hover'); }
				);

			});
		</script>
		<style type="text/css">
			/*demo page css*/
			body{ font: 62.5% "Trebuchet MS", sans-serif; margin: 20px;}
		</style>
	</head>
	<body>

		<div id="tabs">
			<ul>
			<% sorted_content = content.keys.sort %>
			<% 0.upto((content.keys.length) -1) { |i| %>
				<li><a href="#tabs-<%= i %>"><%= sorted_content[i] %></a></li>
			<% } %>
			</ul>
			<% 0.upto((content.keys.length) -1) { |i| %>
				<div id="tabs-<%= i %>"><%= content[sorted_content[i]] %></div>
			<% } %>
		</div>
	</body>
</html>
