.well.sidebar-nav {
	float: left;
}

.pic_right {
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}

.pic_left {
	float: left;
	margin-top: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.circular {
	width: 180px;
	height: 180px;
	margin: 20px;
	margin-left: 60px;
	border-radius: 90px;
	-webkit-border-radius: 90px;
	-moz-border-radius: 90px;
	background: url(images/IT_Crowd.png) no-repeat;
}

.search_box {
	margin-left: 320px;
}

.container {
	width: 1400px;
}

.page-header {
	margin-top: 100px;
}

.navbar-inverse {
	background-color: #252525;
	z-index: 2;
}

.chuck_norris {
	margin-left: 60px;
}

.chuck_knows {
	margin-left: 60px;
}

.approved {
	margin: 20px;
	margin-left: 60px;
}

.sticky {
	position: fixed;
	top: 220px;
}