<div id="wrap">
	<div class="container">
		<div class="row">
			<div class="span4">
				<img class="approved" src="css/images/chuck_approved.png" heigth="180" width="180" />
			</div>
			<div class="span10">
				<div class="page-header">
					<h1>Support Portal</h1>
					<p>A simple documentation site for application support.</p>
					{{hash}}
				</div>
			</div>
		</div>
	    <div class="row">
	    	<div class="span4">
	    		<div class="well">
	    			<ul>
			    		<div ng-repeat="heading in headings">
			    			<li><a href="" ng-click='go_to_id("mark{{$index}}")'>{{heading}}</a></li>
			    		</div>
			    	</ul>
		    	</div>
	    		<!-- <img class="chuck_norris sticky" src="css/images/chuck_code.jpg" heigth="180" width="180" /> -->
	    	</div>
			<div class="span10">
				<div class="well well-large">
					<div ng-repeat="article in articles | filter:filter_keyword">
						<div id="mark{{$index}}" ng-bind-html-unsafe='article'></div>
					</div>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div class="navbar navbar-default navbar-fixed-bottom ">
	<img class="chuck_norris" src="css/images/chuck_code.jpg" heigth="220" width="290" />
</div> -->
<div class="navbar navbar-inverse navbar-fixed-bottom">
	<p class="navbar-text"><input class='search_box' placeholder='Search...' ng-model='filter_keyword'><span class="chuck_knows">Chuck Norris already knows what you are looking for.</span></p>
</div>